
body{
background-color: black;
}

.clear_floats{
  clear: both;
}

/********Gabrielle's lead article section**********/
#lead_article{
  width: 750px;
  background-color: white;
  border-top-right-radius: 30px;
  margin: 0;
  padding: 0;
  float: left;
}

#dom{
  font-size: 12px;
  border-bottom: 1px solid rgba(204, 214, 229,0.8);
}

#dom > a:hover{
  text-decoration: underline;
}

h1{
  font-size: 15px;
}
#grey_wrapper{
  background-color: rgb(204, 214, 229);
  width: 750px;
}

#grey_wrapper > article{
  background-color: white;
  width: 730px;
  margin: auto;
}




#lead_article li{
  display: inline;
  padding: 5px 15px;
  background-color: rgb(227, 235, 246);
  color: rgb(119, 141, 171);
  border-bottom: 1px solid rgb(227, 235, 246);
  border-top-left-radius: 5px;
  border-top-right-radius: 10px;
}

#lead_article li:nth-child(1){
  background-color: white;
  color: rgb(59, 85, 140);
  border-bottom: 1px solid white;
  border-top-left-radius: 20px;
  border-top-right-radius: 5px;
}

#image_holder{
  border: 1px solid rgb(125, 144, 173);
  width: 715px;
  margin-left: 7px;
  margin-top: 15px;
}

#image_holder > img{
  width: 700px;
  margin-left: 5px;
  margin-top: 5px;
}

#lead_article > p{
  padding-left: 10px;
  font-size: 12px;
}

#image_holder > p{
  font-size: 10px;
  color: rgb(87, 141, 202);
  padding-left: 10px;
}

/****************************************
**************news section****************
*****************************************/

/* dividing news content into 2 columns*/


#content_left{
  margin: 0 auto;
  width: 330px;
  float: left;
  padding-right: 6px;
}

#content_right{
  margin: 0 auto;
  width: 330px;
  float: left;
  padding-left: 50px;
}

#content_right > article > p{
  width: 150px;
}

/* bold span tags */

.bold{
  font-weight: bold;
}

/* gradients for h3 tags */

#facts_bg{
  height: 18px;
  padding-top: 1px;
  color: white;
  background: rgb(144, 104, 27); /* Old browsers */
  background: -moz-linear-gradient(left,  rgb(144, 104, 27) 0%, #c5deea 53%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(144, 104, 27)), color-stop(53%,#c5deea)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgb(144, 104, 27) 0%,#c5deea 53%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgb(144, 104, 27) 0%,#c5deea 53%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgb(144, 104, 27) 0%,#c5deea 53%); /* IE10+ */
  background: linear-gradient(to right,  rgb(144, 104, 27) 0%,#c5deea 53%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(144, 104, 27)', endColorstr='#c5deea',GradientType=1 ); /* IE6-9 */
}

#people_bg{
  height: 18px;
  padding-top: 1px;
  color: white;
  background: rgb(112, 30, 26); /* Old browsers */
  background: -moz-linear-gradient(left, rgb(112, 30, 26)  0%, #c5deea 53%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(112, 30, 26)), color-stop(53%,#c5deea)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgb(112, 30, 26) 0%,#c5deea 53%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgb(112, 30, 26) 0%,#c5deea 53%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgb(112, 30, 26) 0%,#c5deea 53%); /* IE10+ */
  background: linear-gradient(to right,  rgb(112, 30, 26) 0%,#c5deea 53%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(112, 30, 26)', endColorstr='#c5deea',GradientType=1 ); /* IE6-9 */
}

#resources_bg{
  height: 18px;
  padding-top: 1px;
  color: white;
  background: rgb(16, 54, 27) /* Old browsers */
  background: -moz-linear-gradient(left, rgb(16, 54, 27)  0%, #c5deea 53%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(16, 54, 27)), color-stop(53%,#c5deea)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgb(16, 54, 27) 0%,#c5deea 53%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgb(16, 54, 27) 0%,#c5deea 53%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgb(16, 54, 27) 0%,#c5deea 53%); /* IE10+ */
  background: linear-gradient(to right,  rgb(16, 54, 27) 0%,#c5deea 53%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(16, 54, 27)', endColorstr='#c5deea',GradientType=1 ); /* IE6-9 */
}

#headlines_bg{
  height: 18px;
  padding-top: 1px;
  color: white;
  background: rgb(144, 104, 27) /* Old browsers */
  background: -moz-linear-gradient(left, rgb(144, 104, 27)  0%, #c5deea 53%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(144, 104, 27)), color-stop(53%,#c5deea)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgb(144, 104, 27) 0%,#c5deea 53%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgb(144, 104, 27) 0%,#c5deea 53%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgb(144, 104, 27) 0%,#c5deea 53%); /* IE10+ */
  background: linear-gradient(to right,  rgb(144, 104, 27) 0%,#c5deea 53%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(144, 104, 27)', endColorstr='#c5deea',GradientType=1 ); /* IE6-9 */
}


/* news_content link styles */

a{
  text-decoration: none;
}

article > h3{
  margin-top: 0;
  margin-bottom: -12px;
  padding-left: 12px;
  font-size: 15px;
  width: 330px;
}

#content_left > article{
  padding-right: 0px;
  width: 330px;
}

#content_right > article{
  width: 330px;
  padding-left: 0px;
}

/* floating old lady */

.old_lady{
  float: right;
  position: relative;
  bottom: 100px;
}

#newstitle_top{
  margin-top: -12px;
  width: 330px;
}

.p_background{
  background-color: rgb(204, 214, 229);
  font-size: 12px;
  padding-left: 12px;
  width: 330px;
}

.p_background > p:nth-of-type(10){
  padding-bottom: 287px;
}

.nancy_width{
  width: 215px;
  padding-top: 20px;
}

.david_down{
  padding-top: 30px;
}

